
a,
a:active,
a:focus,
a:hover {
    text-decoration: none
}

.logo {
    //flex: 1;
    //text-align: center;
    position: absolute;
    top: 8px;
    color: #fff;
    opacity: .5;
    left: calc(50vw - 24px);
    text-align: center;

    @media (min-width: 0) and (max-width: 720px){
        left: calc(50vw - 18px);
        top: 3px;

        
    }

    md-icon {
        font-size: 36px !important;
    }

    &:hover {
        opacity: 1;
    }
}

.go-back {
    text-transform: uppercase;
    padding-left: 7px;
}

.to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
}

.main-container {
    max-width: 1100px;
    margin: 0 auto;
    background: #fff;
    color: #333;
    padding: 25px;
    position: relative;
    min-height: 80vh;

    

    h1 {
        color: #333;
        padding-left: 15px;
        padding-bottom: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        margin: 10px 0;
        text-transform: uppercase;
        font-weight: 400;

        md-icon {
            margin-right: 15px;
        }

        a {
            color: color($primary, '800');
        }
    }
}

@media (min-width: 0) and (max-width: 720px){
    .main-container {
        padding: 10px;
    }

    .md-list-item-inner {
    	padding: 0 !important;
    }
}