<div class="project">
  <header>
      <md-chips  class="md-default-theme ember-view">
        <md-chips-wrap tabindex="-1" class="md-chips  md-removable ">
          <md-chip class="md-chip md-default-theme  ">
            <div tabindex="-1" aria-hidden="true" class="md-chip-content">
              <strong>Declaracion</strong>
            </div>
            <div class="md-chip-remove-container">
                <button type="button" aria-hidden="true" tabindex="-1" class="md-chip-remove">
                  <md-icon md-font-icon="clear" style="height: 18px; min-height: 18px; min-width: 18px; font-size: 18px; line-height: 18px;" aria-label="clear" class="paper-icon md-font material-icons md-default-theme ember-view">clear
            </md-icon>
                  <span class="md-visually-hidden"> Remove </span>
                </button>
            </div>
          </md-chip>
          <div class="md-chip-input-container">
              <input type="text" tabindex="0" placeholder="agregar filtro"  class="ember-text-field ember-view">
          </div>
        </md-chips-wrap>
      </md-chips>
  </header>

  {{#paper-list class='project-list'}}
    {{#each model as |project|}}
    	{{#paper-item class="md-3-line animated fadeIn"}}
    		<div class="md-list-item-text">
            {{#link-to 'projects.show' project.id}}
              <b>{{project.expdip}} / {{project.type}}</b>
            {{/link-to}}

            <p>{{project.title}}</p>
    		</div>
    		{{paper-divider}}
        {{#link-to 'projects.show' project.id class="project-action"}}
          {{#paper-button raised=true primary=true}}ver proyecto{{/paper-button}}
        {{/link-to}}
    	{{/paper-item}}
    {{/each}}
  {{/paper-list}}
</div>
