<div class="project-show">
	{{#link-to 'projects' class='go-back'}}
		{{#paper-button raised=true primary=true warn=true}}
			{{paper-icon "chevron-left"}} volver a proyectos
		{{/paper-button}}
	{{/link-to}}
	<article>

		<div class="meta">
			<b>
				{{model.expdip}} / {{model.type}} <br>
				<small>Proyecto iniciado en {{model.iniciated}}</small>
			</b>
		</div>

		<p>{{model.title}}</p>
		
		<div class="commissions-list">
			<b>Comision/es</b>
			{{#each model.commissions as |commission|}}
				<h2>
					{{#link-to 'commissions.show' commission.id}}
					        {{commission.name}}
				      {{/link-to}}
				</h2>
			{{/each}}
		</div>


		<div class="legislators-list">
			{{#each model.legislators as |legislator|}}
				<div class="item">
					<div class="circle img">
						{{#link-to 'legislators.show' legislator.id}}
							<img src="{{legislator.photo}}" width="100%">
						{{/link-to}}
					</div>
					<div class="text">
						<b>{{charge.name}}</b><br>
						
						<h2>
							{{#link-to 'legislators.show' legislator.id}}
								{{legislator.name}} {{legislator.last_name}}
							{{/link-to}}
						</h2>
						{{legislator.block.name}}	
						
					</div>
				</div>
			{{/each}}
		</div>
	</article>
</div>