{{#burger-menu as |burger|}}
  {{#burger.menu itemTagName="li"  dismissOnItemClick=true as |menu|}}
    <img src="{{rootURL}}assets/evafirma.png" alt="Evita" style="width:180px;padding:20px 10px 10px 10px;">
    <button class="burger-close" {{action burger.state.actions.close}}>{{paper-icon "close"}}</button>
    <ul>
      {{#menu.item}}
        {{#link-to 'index'}}
          {{#paper-button}}
            {{paper-icon "account-balance"}}<span>Inicio</span>
          {{/paper-button}}
        {{/link-to}}
      {{/menu.item}}
      {{#menu.item}}
        {{#link-to 'projects'}}
          {{#paper-button}}
            {{paper-icon "folder"}}
            <span>Proyectos</span>
          {{/paper-button}}
        {{/link-to}}
      {{/menu.item}}
      {{#menu.item}}
        {{#link-to 'legislators'}}
          {{#paper-button}}
            {{paper-icon "person-pin"}}
            <span>Legisladores</span>
          {{/paper-button}}
        {{/link-to}}
      {{/menu.item}}
      {{#menu.item}}
        {{#link-to 'commissions'}}
          {{#paper-button}}
            {{paper-icon "people"}}
            <span>Comisiones</span>
          {{/paper-button}}
        {{/link-to}}
      {{/menu.item}}
    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
         <button {{action burger.state.actions.toggle}} >
          {{paper-icon "menu" size=24}}
        </button>
    <div class="main-search">
        {{#paper-autocomplete
              placeholder="Buscar"
              options=arrayOfItems
              selected=selectedItem
              onSelectionChange=(action (mut selectedItem))
              as |item term|}}
              <span class="item-title">
                {{paper-icon "star"}}
                <span>
                  {{paper-autocomplete-highlight searchText=term.searchText flags="i" label=item}}
                </span>
              </span>
              {{else}}
              Whoops! Gucci ya lo va a programar!
          {{/paper-autocomplete}}
      </div>
      <span class="flex"></span>
      {{#paper-menu as |menu|}}
    {{#menu.trigger}}
      {{#paper-button iconButton=true}}
        {{paper-icon "more_vert"}}
      {{/paper-button}}
    {{/menu.trigger}}
    {{#menu.content width=4 as |content|}}
      {{#each items as |item|}}
        {{#content.menu-item onClick="openSomething"}}
          {{paper-icon item.icon}}
          <span>{{item.title}}</span>
        {{/content.menu-item}}
      {{/each}}

      {{#content.menu-item onClick="openSomething" disabled=true}}
        {{paper-icon "adb"}}
        <span>This is disabled.</span>
      {{/content.menu-item}}

      {{paper-divider}}

      {{#each items as |item|}}
        {{#content.menu-item onClick="openSomething"}}
          {{paper-icon item.icon}} {{item.title}}
        {{/content.menu-item}}
      {{/each}}
    {{/menu.content}}
  {{/paper-menu}}

      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    <div class="main-container">
      {{outlet}}
      <a class="to-top">
        {{#paper-button iconButton=true fab=true}}
          {{paper-icon "keyboard-arrow-up"}}
        {{/paper-button}}
      </a>
    </div>
  {{/burger.outlet}}
{{/burger-menu}}
