<div class="home animated fadeIn">

	{{#link-to 'projects'}}
		{{paper-icon "folder" size=40}} <br> Proyectos
	{{/link-to}}
	{{#link-to 'legislators'}}
		{{paper-icon "person-pin" size=40}} <br> Legisladores
	{{/link-to}}
	{{#link-to 'commissions'}}
		{{paper-icon "people" size=40}} <br> Comisiones
	{{/link-to}}

</div>
