.md-toolbar-tools, .bm-menu {
    button {
        background: none;
        border: none;
        outline: 0 none;
    }
}

.bm-menu {

    .burger-close {
        position: fixed;
        color: #333;
        left: 256px;
        top: 10px;
        font-size: 28px;
        cursor: pointer;
        font-weight: 600;
        outline: 0 none;

        md-icon {
            color: color($primary, '50');
        }
    }

    h1 {
        margin: 0;
        padding: 10px 20px;
        color: #8c8c8c;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
        font-size: 2em;
        font-weight: 100;
        text-align: left;
        background: #333;
    }

    .bm-menu-item {
        span {
            position: relative;
            left: 15px;
            font-weight: 400;
            font-family: RobotoDraft, Roboto, sans-serif;
            font-size: 12px;
        }

        md-icon {
            color: #fff;
        }
    }
}


.ember-burger-menu .bm-menu a.close.right,
.hamburger.left {
    left: 0
}
.ember-burger-menu .bm-menu a.close.left,
.hamburger.right {
    right: 0
}
body,
body>.ember-view,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #e2e2e2
}

.ember-burger-menu .bm-outlet>.bm-content {
   padding-bottom: 45px;
   background: #f9f9f9;
}
.ember-burger-menu .bm-menu {
    background: color($primary, '700');

}
.ember-burger-menu .bm-menu a.close {
    position: absolute;
    top: 0;
    padding: 10px
}
.ember-burger-menu .bm-menu h2 {
    margin: 0;
    padding: 1em;
    color: rgba(0, 0, 0, .4);
    font-size: 1.4em;
    text-align: left;
    color: #f9f9f9;
    text-transform: uppercase;
    font-family: RobotoDraft, Roboto, sans-serif;
    font-weight: 300
}
.ember-burger-menu .bm-menu h2>i {
    padding-right: 10px
}
.ember-burger-menu .bm-menu ul {
    list-style: none;
    margin: 0;
    padding: 0
}
.ember-burger-menu .bm-menu ul li a {
    display: block;
    //padding: 1em 1em 1em 1.2em;
    padding: 0;
    outline: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    color: #e2e2e2;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255, 255, 255, .1);
    letter-spacing: 1px;
    -webkit-transition: background .3s;
    transition: background .3s;
    cursor: pointer
}

.ember-burger-menu .bm-menu .md-button {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 10px;
}

.ember-burger-menu .bm-menu ul li a>i {
    margin-right: 20px;
    font-size: 20px
}
.ember-burger-menu .bm-menu ul li a>i:before {
    vertical-align: middle
}
.ember-burger-menu .bm-menu ul li a:hover {
    //background: color($primary, '800');
}
.ember-burger-menu .bm-menu ul li:first-child a {
    border-top: 1px solid rgba(0, 0, 0, .2)
}
.btn-outline {
    border-color: #e24b31;
    box-shadow: none;
    color: #e2e2e2;
    font-weight: 300;
    background: 0 0
}
.btn-outline.active,
.btn-outline.active:focus,
.btn-outline.active:hover,
.btn-outline:active,
.btn-outline:active:focus,
.btn-outline:focus,
.btn-outline:hover {
    z-index: 0;
    outline: 0;
    box-shadow: none;
    background: #e24b31;
    color: #e2e2e2;
    border-color: #db3a1f
}
.btn-group>.btn.active {
    z-index: 0
}
.hamburger {
    position: fixed;
    top: 0;
    padding: 10px 20px;
    z-index: 100;
    font-size: 30px;
    color: #e2e2e2;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s;
    -webkit-transition: opacity .3s
}
.hamburger.burger-hidden {
    opacity: 0
}
.hamburger:active,
.hamburger:focus,
.hamburger:hover {
    color: #ccc
}
.tomster {
    position: absolute;
    bottom: 0
}
.tomster.left {
    left: 50px
}
.tomster.right {
    right: 50px
}
.header {
    //background: #233040;
    //padding-top: 60px;
}
.header h1 {
    font-weight: 700
}
.header .description {
    padding: 30px 0;
    font-size: 16px
}
.header .description>p {
    max-width: 500px;
    margin: 0 auto
}
.container {
    padding-top: 0;
}
.container h4 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400
}
.container .animations {
    min-height: 225px;
    border-right: 1px solid #ccc;
    padding-right: 25px
}
.container .animations .btn-outline {
    margin: 0 0 10px 10px
}
.container .options {
    min-height: 225px;
    padding-left: 25px
}
.container .options .option label {
    font-size: 15px;
    width: 160px
}
.container .options .option .checkbox {
    cursor: pointer;
    display: inline-block;
    color: #e24b31;
    font-size: 18px
}
.inspiration {
    padding: 40px 0
}

.md-select-menu-container {
    z-index: 9999;
}
