.circle {
    overflow: hidden;
    border-radius: 60%;
    margin: 0 auto;
    width: 150px;
	

    img {
        transform: scale(1.06);
        -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
        -moz-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
        transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    }

    &:hover {
    	img {
    	    transform: scale(1.13);
    	}
    }
}