@media (min-width: 0) and (max-width: 800px){
    .list {
        .item {
            width: 100% !important;
            flex-direction: column !important;
            max-width: 310px;
            margin: 0 auto;
        }
    }
    .project-list .project-action {
        position: absolute;
        bottom: 16px;
        left: 0;
        display: none;
    }

    .project-list .md-list-item-text p {
        width: 100%;
    }

    .project-list .md-list-item-text {
        padding: 20px 0 80px 0;
    }

    article {
        padding: 60px 10px;
    }

    .filter md-input-container {
        position: relative;
        width: 100%;
    }

    .legislators-list .item {
        width: 100% !important;
    }

    .main-container h1 {
        border: none;
        padding-left: 0;
    }

}

@media (min-width: 0) and (max-width: 400px){
    .list {
        .item {
            width: 100%;
        }
    }

}