<div class="commission">

  <header>
      <md-chips  class="md-default-theme ember-view">
      <md-chips-wrap tabindex="-1" class="md-chips  md-removable ">
        <md-chip class="md-chip md-default-theme  ">
          <div tabindex="-1" aria-hidden="true" class="md-chip-content">
            <strong>Asuntos</strong>
          </div>
          <div class="md-chip-remove-container">
              <button type="button" aria-hidden="true" tabindex="-1" class="md-chip-remove">
                <md-icon md-font-icon="clear" style="height: 18px; min-height: 18px; min-width: 18px; font-size: 18px; line-height: 18px;" aria-label="clear" class="paper-icon md-font material-icons md-default-theme ember-view">clear
          </md-icon>
                <span class="md-visually-hidden"> Remove </span>
              </button>
          </div>
        </md-chip>
        <div class="md-chip-input-container">
            <input type="text" tabindex="0" placeholder="agregar filtro"  class="ember-text-field ember-view">
        </div>
      </md-chips-wrap>
    </md-chips>
  </header>

  {{#paper-list class="commission-list"}}
  {{#each model as |commission|}}
  	{{#paper-item}}
      <button type="button" tabindex="0" class="add-favorite md-default-theme md-button md-secondary md-icon-button">
        {{paper-icon "star-border"}}
      </button>
      {{#link-to 'commissions.show' commission.id class='item-title'}}
        {{commission.name}}
      {{/link-to}}
      <div class="md-secondary-container">
          {{#link-to 'commissions.show' commission.id}}
            {{#paper-button primary=true raised=true}}
                Ver comisión
            {{/paper-button}}
          {{/link-to}}
      </div>
  	{{/paper-item}}
  	{{paper-divider}}
  {{/each}}
  {{/paper-list}}
</div>
