<div class="commission-show">
	<div class="page-actions">
		<a {{action 'toggleSort'}}>
			{{#paper-button raised=true warn=true}}
			{{#if sorted}}
				Ordenar por cargo
			{{else}}
				Ordenar por Bloque
			{{/if}}
			{{/paper-button}}		
		</a>
	</div>
	<header>
		<h1>
			{{#link-to 'commissions'}} {{paper-icon "people" size=38}} Comisiones{{/link-to}}
			{{paper-icon "chevron-right" size=30}} <small>{{model.name}}</small>
		</h1>
		<a style="display: none; position: absolute; top: 32px; right: 20px;">
			{{#paper-button raised=true primary=true}}
			ver proyectos
			{{/paper-button}}		
		</a>
	</header>

	{{#if sorted}}
		{{#paper-list class="legislator-block"}}
			{{#each sortedItems as |member|}}
				{{#paper-item}}
			      <img src={{member.legislator.photo}} class="md-avatar">
			      <div class="md-list-item-text">
			        <h3>
				        {{#link-to 'legislators.show' member.legislator.id}}
				    		{{member.legislator.name}} {{member.legislator.last_name}}
			    		{{/link-to}}
			    	</h3>
			        <h4>{{member.legislator.block.name}}</h4>
			        </div>
			        <div class="md-secondary-container">
			        	<p>{{member.legislator.email}}@hcdn.gor.ar <br>
			    		{{member.legislator.study}}</p>
			    	</div>
			        <small>{{member.charge.name}}</small>
			      				
				{{/paper-item}}
				{{paper-divider}}
			{{/each}}
		{{/paper-list}}		
	{{else}}
		<div class="legislator-list">
			{{#each model.members as |member|}}
				<div class="item">
					<div class="circle img">
						{{#link-to 'legislators.show' member.legislator.id}}
							<img src="{{member.legislator.photo}}" width="100%">
						{{/link-to}}
					</div>
					<div>
						<b>{{member.charge.name}}</b><br>
					<h2>
						{{#link-to 'legislators.show' member.legislator.id}}
							{{member.legislator.name}} {{member.legislator.last_name}}
						{{/link-to}}
					</h2>
					<h4>{{member.legislator.block.name}}</h4>
					</div>
				</div>
			{{/each}}
		</div>
	{{/if}}
</div>