.commission {
    .commission-list {
        border-bottom: 1px solid #ddd;
        margin-bottom: 15px;
        
        md-list-item {
            padding: 10px 0;
        }

        .item-title {
            font-weight: 600;
            width: 100%;
            color: color($primary, '800');
        }

        @media (min-width: 0) and (max-width: 720px){
            .md-secondary-container {
                display: none;
            }
        }

        .md-avatar {
            width: 100px !important;
            height: 100px !important;
        }
    }

    .add-favorite {
        margin: 0 15px 0 0 !important;
    }

}

.commission-show {

    header {
        a:active {
            color: #333;
        }

        h1 {
    

            @media (min-width: 0) and (max-width: 720px){
                text-align: center;

                small {
                    border-top: 1px solid #ddd;
                    display: block;
                    border-bottom: 1px solid #ddd;
                    padding: 15px 0;
                    margin-top: 12px;
                }

                md-icon {
                    display: none;
                }        

                a {
                    display: block;
                }
            }

        }
    }

    .legislator-list {
        display: flex;
        flex-wrap: wrap;
        
        .item {
            width: 27%;
            display: flex;
            flex-direction: column;
            margin: 1% 3%;
            text-align: center;
            color: #333;
            padding: 15px 0;
            border-bottom: 1px solid #ddd;

            a {
                color: color($primary, '800');
            }

            h2 {
                font-size: 20px;
                margin: 0;
            }

            h4 {
                font-size: 17px;
                margin: 0;
                color: #999
            }

            &:first-child {
                width: 100%;
                flex-direction: row;
                text-align: left;
                align-items: center;
                border-bottom: 1px solid #ddd;
                padding-bottom: 20px;

                .circle {
                    width: 150px;
                    margin: 0 30px;
                }
            }

            &:nth-child(2),
            &:nth-child(3){
                width: 48%;
                flex-direction: row;
                text-align: left;
                align-items: center;
                border-bottom: 1px solid #ddd;
                padding-bottom: 20px;
                margin: 1%;
                .circle {
                    width: 150px;
                    margin: 0 30px;
                }
            }

            b {
                margin-top: 5px;
                text-transform: uppercase;
            }
        }
       
    }

    .page-actions {
        position: fixed;
        top: 10px;
        right: 30px;
        z-index: 99;

        button {
            width: 200px;
        }

        @media (min-width: 0) and (max-width: 720px){
            position: relative;
            top: -10px;
            left: -10px;
            right: 0;

            button {
                width: 100% !important;
            }
        }

        
    }

    .legislator-block {
        
        .md-list-item-inner {
            position: relative;
        }

        .md-list-item-text {
            position: relative;
            width: 100%;
        }

        .md-secondary-container {
            width: 50%;
            font-weight: 400;
        }

        small {
            position: absolute;
            right: 10px;
            top: 30px;
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;

            @media (min-width: 0) and (max-width: 800px){
                position: relative !important;
            }
        }

        img {
            width: 80px;
            height: 80px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        h3 {
            margin: 0;
        }

        a {
            color: color($primary, '800');
        }

        h4 {
            margin: 0;
            text-transform: uppercase;
        }

        p {
            margin: 0;
        }

    }

    @media (min-width: 0) and (max-width: 800px){
        small {
           
        }

        .item {
            width: 100% !important;
            flex-direction: column !important;
        }

        .legislator-list {
            top: 0 !important;
        }

        .filter {
            position: relative;
            top: 0;
            right: 0;
            text-align: center;
        }

        .md-secondary-container {
            display: none !important;
        }
    }

    @media (min-width: 0) and (max-width: 400px){
        .filter {
            position: relative;
            top: 0;
            right: 0;
            text-align: center;
        }
    }
}