.home {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;

    a {
       width: 100%;
       text-align: center;
       font-size: 25px;
       border: 1px solid #ddd;
       background: #fff;
       padding: 1.5em 0;
       margin: 1%;
       color: #666;
       font-weight: 600;
       -webkit-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
       -moz-transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
       transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
       box-shadow: 0 0 5px 0 rgba(0,0,0,0.1), 0 0 5px 0 rgba(0,0,0,0.2);

       &:hover {
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.1), 0 0 15px 0 rgba(0,0,0,0.2);
        background: #f9f9f9;
       }
    }

    md-icon {
      color: #666;
    }
}

.main-search {
  min-width: 30%;
  margin-left: 5%;
}
