.legislators {

    header {
        position: relative;
    }

    .legislator-filter {
        position: absolute;
        top: 7px;
        right: 0;
        width: 350px;

        @media (min-width: 0) and (max-width: 800px){
            position: relative;
            width: 100%;
        }

        md-input-container {
            width: 100%;
            margin: 0;
            padding: 0;
            font-size: 20px;
        }

        md-select-value {
            color: #333;
            font-weight: 300;
        }
    }

    .legislators-list {
        display: flex;
        flex-wrap: wrap;

        .item {
            width: 23%;
            display: flex;
            flex-direction: column;
            margin: 1%;
            text-align: center;
            color: #333;

            .legislator-label {
                padding: 6px;
                margin: 0;
                min-height: 53px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                font-size: 15px !important;

            }

            h2 {
                margin: 0;
                font-size: 18px;

                
            }

            a {
                color: #333;
            }

            b {
                display: block;
            }

            i {
                font-weight: 600;
                font-size: 16px;
                padding-top: 0;
                display: block;
                color: #999;
            }


        }

        
    }
}

.legislators-show {
 
    .go-back {
        text-transform: uppercase;
        padding-left: 7px;
        position: fixed;
        left: 60px;
        top: 7px;
        z-index: 99;

        @media (min-width: 0) and (max-width: 800px){
            position: relative;
        }

        button {
            width: 250px;
        }
    }



    .hero {
        padding: 20px 0 10px 0;
        text-align: center;

        h1, h2 {
            text-align: center;
            //color: #fff;
            border: none;
            margin: 5px 0;
            text-transform: uppercase;
        }

        .circle {
            width: 250px;
        }

        .female-charge {
            display: none;
        }

        &.dip-F {
            .male-charge {
                display: none;
            }

            .female-charge {
                display: block;
            }
        }

    }

}



