.project {
    .project-list {

        .md-list-item-text {
            padding: 15px 0;
            
            p {
                margin: 5px 0 0 0 !important;
                width: 84%;
            }
        }

        @media (min-width: 0) and (max-width: 800px){
            .md-list-item-text {
                padding: 20px 0 !important;
            }

            p {
                width: 100% !important;
            }
        }

        .project-action {
            margin-top: 45px;
        }
    }
}

.project-show {
    .meta {
        padding-bottom: 20px;

        b {
            text-transform: uppercase;font-size: 22px;
        }
    }

    .item {
        width: 23%;
    }

    .go-back {
        text-transform: uppercase;
        padding-left: 7px;
        position: fixed;
        left: 60px;
        top: 7px;
        z-index: 99;

        @media (min-width: 0) and (max-width: 800px){
            position: relative;
        }

        button {
            width: 200px;
        }
    }

    .legislators-list {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;

        a {
            color: #333;
        }

        h2 {
            font-size: 20px;
            margin: 0;
        }

        .text {
            b {
                margin-top: 5px;
            }
        }
    }
}

article {
    text-align: center;
    padding: 20px 110px;
    p {
        font-size: 25px;
        line-height: 45px;
        color: #666;
        //border-bottom: 1px solid #ddd;
        padding-bottom: 35px;
        margin: 0;
    }

    @media (min-width: 0) and (max-width: 500px){
        p {
            font-size: 19px;
            line-height: 30px;
        }
    }

    
}