<div class="legislators">
	<header>
				<div class="legislator-filter">
			{{#paper-select
				  placeholder="Filtrar por bloque"
				  selected=selectedBlock
				  options=blocks
				  class="block-select"
				  onChange=(action (mut selectedBlock))
				  as |block|}}
			  	  {{block.name}}
			{{/paper-select}}
		</div>
	</header>

	<div class="legislators-list">
		{{#each model as |legislator|}}
			<div class="item">
				{{#link-to 'legislators.show' legislator.id}}
					<div class="circle img">
						<img src="{{legislator.photo}}" width="100%">
					</div>
					<div class="legislator-label">
						<h2>{{legislator.name}} {{legislator.last_name}}</h2>
						<i>{{legislator.block.name}}</i>
					</div>

				{{/link-to}}
			</div>
		{{/each}}
	</div>
</div>
