<div class="legislators-show">
	{{#link-to 'legislators' class='go-back'}}
		{{#paper-button raised=true warn=true}}
		{{paper-icon "chevron-left"}} volver a legisladores
		{{/paper-button}}
	{{/link-to}}
	<header class="hero dip-{{model.sex}}">
		
		<div class="circle">
			<img src="{{model.photo}}" width="100%">
		</div>
		<h2 class="male-charge">
			{{model.charge}} {{model.name}} {{model.last_name}}
		</h2>
		<h2 class="female-charge">
			DIPUTADA {{model.name}} {{model.last_name}}
		</h2>
		<h3 style="margin: 5px 0;">{{model.block.name}}</h3>
	</header>
	<article style="padding: 0">
		<p>{{model.email}}@hcdn.gor.ar <br>
		Despacho {{model.study}}</p>
		
	</article>
</div>