$primary: "indigo";
$accent: "pink";
$warn: "pink";

@import 'ember-paper';
@import 'ember-burger-menu';

@import 'plugins/animate';

@import 'base/base';

@import 'templates/home';
@import 'templates/projects';
@import 'templates/commissions';
@import 'templates/legislators';

@import 'modules/burger-menu';
@import 'modules/circle-image';
@import 'modules/filter';
@import 'modules/loading';
@import 'modules/responsive';



